<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="material-icons">
            theaters
        </span>
        <span [routerLink]="['/principal']">App películas</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary" routerLink="/peliculas-list" routerLinkActive="mat-accent">Películas</button>
        <button mat-raised-button color="primary" routerLink="/series-list" routerLinkActive="mat-accent">Series</button>
    </mat-toolbar-row>
</mat-toolbar>
